<main class="about">
    <h1>Om uppgiften</h1>
    <p>I denna uppgift har jag skapat en enhetsomvandlare som har möjlighet att omvandla <strong>Meter</strong> till
        <strong>Fot</strong> (och vice versa), samt <strong>Celsius</strong> till <strong>Fot</strong> (och vice versa)
        med <strong>Angular.</strong></p>
    <p>Jag har löst uppgiften genom att skapa tre undersidor, samt en navigationsmeny. Genom att använda Angulars
        routing-modul har jag på så sätt skapat en fungerande navigation mellan undersidorna.</p>
    <p>På konverteringssidan använde jag mig av en egen komponent där användaren kan konvertera värden med hjälp av
        komponenter och databindning. För att automatiskt uppdatera värdet använde jag mig även av inputhändelser för
        att uppdatera värdena när användaren ändrar inputvärden som bilden visar.</p>
    
    <img src="assets/images/pic.png" alt="Bild på kod">
    <h2>Slutsats</h2>
    <p style="margin-bottom: 7em;">Uppgiften har varit mycket rolig och lärorik. Jag har lärt mig hur grunden av Angular används och hur kraftfullt det kan vara. Genom att använda ett ramverk som detta kan man enkelt strukturera och effektivisera sin kod. </p>
</main>