main.about {
    h2 {
        margin-top: 20px;
    }
    p {
        width: 80%;
        margin: auto;
        margin-top: 50px;
        font-size: 1.3em;
        font-weight: 500;
    }
    img {
        display: block;
        width: 100%;
        max-width: 500px;
        margin: auto;
        margin-top: 30px;
    }
}

@media (max-width: 900px) {
    main.about {
        width: 80%;
        p {
            width: 100%;
            margin: auto;
            margin-top: 50px;
            font-size: 1.3em;
            font-weight: 500;
        }
    }
}

@media (max-width: 500px) {
    main.about {
        h1 {
            font-size: 1.6em;
        }
        p {
            font-size: 1.1em;
        }
    }
}