.conversion-container {
    margin: auto;
    margin-top: 4em;
    margin-bottom: 20px;
    width: 40%;
    min-width: 300px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    
    #equalto {
        font-size: 3em;
        margin: auto;
    }
  
    label {
      margin-bottom: 5px;
      text-align: center;
      margin: auto;
      font-size: 1.3em;
      font-weight: 500;
    }
  
    input[type="number"] {
      padding: 8px;
      margin: auto;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 200px;
    }
  
    input[type="number"]:focus {
      outline: none;
      border-color: #007bff;
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }

    .result {
      margin: auto;
    }
  }
  